/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header-image {
  width: 100%;
}

.header-link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header { 
    text-align: center;
  }
  
}

/* Heading */
.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* New Task */
.title {
  display: block;
  margin: 0 0 20px; /* TODO: First section title style. Fix margin-bottom after full html refactoring */
}

.main-section {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

/* Task list */

.list {
  margin: 0;
  padding: 0;
}

.list-item {
  list-style: none;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item > .field-checkbox {
  margin: 0 10px;
}

.list-item > .field-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.list-item > .field-input {
  width: 226px;
}

.field-checkbox,
.field-input,
.btn {
  outline: none;
}

.btn {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3A3a;
}

.btn-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn-image:hover {
  transform: rotateZ(0);
}

.field {
  display: flex;
}

.field-label,
.field-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.field-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.field-input:focus {
  color: #333;
}

/* Completed */
#completed-tasks .field-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.list-item .field-input {
  display: none;
}

.list-item.open-for-edit .field-input {
  display: inline-block;
  width: 224px;
}

.list-item.open-for-edit .field-label {
  display: none;
}